/* Login form */
#login {
    border: var(--border-config);
    padding: 2rem;
    border-radius: var(--border-radius);
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

/* Form - Genérico */
.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form - Cadastro */
#register {
    border: var(--border-config);
    padding: 2rem;
    border-radius: var(--border-radius);
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

/* Form links */
.form-box a {
    color: #0066cc;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px dashed;
    border-radius: var(--border-radius);
    padding: 3rem;
}

.checkbox-option {
    border: var(--border-config);
    border-radius: var(--border-radius);
    padding: 1rem;
}