#suggestions-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: start ;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: 20px; /* Espaço para o indicador */
}
.suggestion {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border: var(--border-config);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}
/* Link/botão mais ipções */
#more-options {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background-color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    padding: 1.5rem;
    padding-inline: 2rem;
    border-radius: var(--border-radius);
    
}
/* Conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}